.cart-item{
    width: 100%;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
}

.cart-info{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.title{
    font-weight: bold;
}

.author{

}

.price{
    font-weight: bold;
}

.divider{
    padding: 0px 10px;
}