@font-face {
  font-family: "noto-serif";
  src: url("/fonts/Noto_Serif/NotoSerif-Bold.ttf");
}

.filter {
  width: 100%;
  background-color: #1b8f85;
  padding: 10px;
  border-radius: 5px;
}

.filter-header {
  font-size: 1.2rem;
  color: #222;
  font-weight: 700;
  font-family: "noto-serif", sans-serif;
  color: white;
  padding: 10px;
  text-transform: uppercase;
}

.subjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subjects__items {
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(auto, 200px));
  grid-gap: 10px;
  margin: auto;
}

@media (min-width: 768px) {
  .filter {
    width: 90%;
    margin: 20px auto;
  }

  .subjects {
    flex-direction: row;
  }

  .subjects__header {
    flex-basis: 10%;
  }

  .subjects__items{
      grid-gap: 20px;
  }
}
