.navbar{
    width: 100%;
    height: 70px;
    background-color: #333;
    box-shadow: 2px 2px 2px 2px #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.brand{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon{
    height: 20px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.menu-icon__line{
    width: 32px;
    height: 2px;
    background-color: white;
}

.brand img{
    display: none;
    width: auto;
    height: 100%;
    padding: 5px 20px;
    border-radius: 10px;
}

.brand span{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 20px;
}

.menu{
    display: none;
}

.sidenav{
    width: 70%;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 70px;
    left: 0;
    animation: sidenavAnimation 2s;
    z-index: 100;
}

.backdrop{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 5;
    background-color: rgba(0,0,0,0.5);
}

@keyframes sidenavAnimation{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
}

@media (min-width : 768px){
    .navbar{
        height: 70px;
    }
    .menu-icon{
        display: none;
    }

    .brand img{
        display: block;
    }

    .menu{
        display: block;
    }

    .menu-items{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        list-style: none;
    }

    .menu-items li{
        padding: 8px 20px;
    }
    
    .menu-items li:hover{
        color: orangered;
        cursor: pointer;
    }
}

/*.navbar{
    width: 100%;
    height: 70px;
    background-color: #333;
    box-shadow: 2px 2px 2px 2px #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.brand{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img{
    width: auto;
    height: 100%;
    padding: 5px 20px;
    border-radius: 10px;
}

.brand span{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    list-style: none;
}

.menu-items li{
    padding: 8px 20px;
}

.menu-items li:hover{
    color: wheat;
    cursor: pointer;
}*/