.view-profile{
    width: 100%;
    padding-bottom: 20px;
}

.card{
    width: 90%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #333;
    margin: auto;
    position: relative;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.edit-btn{
    margin-right: 20px;
    background-color: #424423;
    color: white;
    padding: 5px 30px;
    border-radius: 5px;
}

.edit-btn:hover{
    cursor: pointer;
    background-color:  #424429;
}

.header-courses{
    width: 100%;
    margin-top: 30px;
}

.header-title{
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
}

.contents{
    display: flex;
    flex-direction: column-reverse;
}

.image-container{
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ccc;
}

.actions{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.approve-btn{
margin: 10px;
text-align: center;
text-transform: uppercase;
font-weight: bold;
width: 200px;
padding: 10px;
background-color: #1c9772;
color: white;
border-radius: 5px;
}

.delete-btn{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 200px;
    padding: 10px;
    background-color: #db3961;
    color: white;
    border-radius: 5px;
    margin: 10px;
}

.approve-btn:hover{
    cursor: pointer;
    background-color: #1b8d6b ;
}

.delete-btn:hover{
    cursor: pointer;
    background-color: #b82c4f;
}

.grid{
    margin-top: 20px;
    display: grid;
    grid-gap: 10px;
}

.loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 768px) {
    .contents {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .image-container{
        margin: unset;
    }

    .grid{
        grid-template-columns: repeat( auto-fit, minmax(auto,200px));
    }
    
  }
  