.subitem{
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid rgb(15, 64, 121);
}

.sub-name{
    font-weight: bold;
    color: #222;
}

.delete-btn{
  background-color: #bd1b43;
  color: white;
  width: 100%;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 20px;
}

.delete-btn:hover{
  background-color: #961233;
  cursor: pointer;
}