.modal {
  top: 15%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  max-height: 80vh;
  position: fixed;
  background-color: white;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 2px 2px 2px 2px #333;
  box-sizing: border-box;
  overflow: hidden;
}

.modal-header {
  background-color: #2f78d8;
  color: white;
  padding: 15px;
}

.modal-header-title {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
}

.modal-content {
  width: 100%;
  height: 70%;
  overflow-y: scroll;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.payable {
  padding-left: 10px;
}

.payable-label {
  padding-right: 10px;
}

.payable-amount {
  font-weight: bold;
}

.actions {
  width: 100%;
  padding: 10px;
}

.backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

@media (min-width: 768px) {
  .modal {
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
  }

  .footer {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .actions {
    width: 30%;
  }
}
