.card-container{
    width: 90%;
    z-index: 1000;
    padding-top: 90px;
}

.modal-header{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    font-family: sans-serif;
    line-height: 1.2;
}

.book-info{
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
}

.header{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 0px;
    color: #2a66c0;
    font-family: sans-serif;
}

.title{
    font-size: 1.05rem;
    font-weight: bold;
    padding: 3px 0px;
}

.price{
    padding: 3px 0px;
}

.total{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-amount{
    font-weight: bold;
}


.mailbox{
    padding: 5px 20px;
}

.message-box{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.form-message{
    width: 100%;
    color: #7c251d;
    font-weight: 600;
}

.divider{
    width: 100%;
}

.actions{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-close{
    margin: 5px;
    background-color: #ce2121;
    color: white;
    padding: 5px 20px;
    font-size: 1.05rem;
    border-radius: 5px;
    border: 1px solid #ce2121;
    flex-basis: 50%;
}

.button-order{
    margin: 5px;
    background-color: #510a53;
    color: white;
    padding: 5px 20px;
    font-size: 1.05rem;
    border-radius: 5px;
    border: 1px solid #510a53;
    flex-basis: 50%;
}

.button-close:hover{
    cursor: pointer;
    background-color: #9e0808;
}

.button-order:hover{
    cursor: pointer;
    background-color: #38053a;
}

.backdrop{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.25);
    z-index: 40;
}

@media (min-width : 768px){
    .card-container{
        width: 50%;
    }

    .form-message{
        width: 70%;
    }

    .button-close{
        flex-basis: auto;
    }

    .button-order{
        flex-basis: auto;
    }
}