.dashboard{
    width: 100%;
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    background-color: #20ce8b;
    min-height: 100vh;
    align-items: center;
}

.main{
    flex-basis: 80%;
}

.menu-item{
    width: 90%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    color:  #a00e68;
    font-weight: bold;
    border: 1px solid #a00e68;
}

.menu-item__active{
    width: 90%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #a00e68;
    color:  white;
    font-weight: bold;
    border: 1px solid #a00e68;
}

.menu-item:hover{
    cursor: pointer;
}