.sidenav{
    width: 100%;
    height: 100vh;
}

.menu{
    width: 100%;
}

.menu-items{
    width: 100%;
    display: flex;
    list-style: none;
    flex-direction: column;
    margin: 0;
    padding: 10px;
}

.icon{
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-items li{
    font-weight: bold;
    font-size: 20px;
    padding: 8px 0px;
    display: flex;
    align-items: center;
}

.menu-items li:hover{
    cursor: pointer;
    color: orangered;
}

.dashboard-section{
    margin-top: 20px;
}

.section-header{
    width: 100%;
}

.section-header-title{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: #2d92d6;
    padding: 10px;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.dashboard{
    background-color: #2f78d8;
    color: white;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
}

.dashboard:hover{
    background-color: white;
    color:  #2f78d8;
    cursor: pointer;
}

.student-area--header{
    background-color: #2f78d8;
    margin-top: 20px;
}

.list-item-login{
    width: 80%;
    background-color: #2492d1;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px; 
}

.list-item-logout{
    width: 80%;
    background-color: #d13e24;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}