.filter{
    width: 90%;
    background-color: #2fbbaf;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
}

.subjects{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subjects__header{
    flex-basis: 10%;
}

.subjects__items{
    flex-basis: 90%;
}

.standards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.standards__header{
    flex-basis: 10%;
}

.standards__items{
    flex-basis: 90%;
}