.enrollment{
    width: 100%;
    padding-top: 90px;
}

.card{
    width: 95%;
    box-shadow: 2px 2px 2px 2px #333;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
}

.sending{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-title{
    font-size: 1.3rem;
    font-weight: 700;
    font-family: sans-serif;
}

.course-info{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form{
    margin-top: 20px;
}

.form-header-title{
    font-size: 1.1rem;
    color: #134ac0;
    font-weight: bold;
}

.form-controls{
    width: 100%;
    margin-top: 20px;
}

.actions{
    width: 100%;
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
}

.btn-enroll{
    width: 100%;
    background-color: #700e4b;
    color: white;
    border: 1px solid #700e4b;
    padding: 8px;
    border-radius: 5px;
}

.btn-enroll:hover{
    background-color: white;
    color: #700e4b;
    border: 1px solid #700e4b;
    cursor: pointer;
}

@media (min-width:768px){
    .card{
        width: 80%;
    }

    .form-controls{
        width: 550px;
    }

    .actions{
        display: flex;
        justify-content: flex-end;
    }

    .btn-enroll{
        width: 70%;
    }
}
/*.enrollment{
    width: 100%;
    padding-top: 90px;
}

.card{
    width: 80%;
    box-shadow: 2px 2px 2px 2px #333;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-title{
    font-size: 1.3rem;
    font-weight: 700;
    font-family: sans-serif;
}

.course-info{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form{
    margin-top: 20px;
}

.form-header-title{
    font-size: 1.1rem;
    color: #134ac0;
    font-weight: bold;
}

.form-controls{
    width: 500px;
    margin-top: 20px;
}

.form-control{
    display: flex;
    padding: 10px;
}

.form-control__label{
    flex-basis: 30%;
}

.form-control__input{
    flex-basis: 70%;
}

.actions{
    width: 500px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.btn-enroll{
    background-color: #700e4b;
    color: white;
    border: 1px solid #700e4b;
    padding: 8px;
    border-radius: 5px;
    width: 340px;
}

.btn-enroll:hover{
    background-color: white;
    color: #700e4b;
    border: 1px solid #700e4b;
    cursor: pointer;
}*/