.preview {
  width: 100%;
  margin-top: 20px;

  .card {
    width: 90%;
    margin: auto;
    box-shadow: 2px 2px 2px 2px #333;
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    .header {
      .header-title {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    .contents {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .left {
      }

      .right {
        width: 100%;

        .form {
          position: relative;
          .actions {
            width: 100%;
            margin-top: 20px;

            .update-btn {
              background-color: #07681f;
              color: white;
              padding: 8px 50px;
              border-radius: 5px;
            }

            .update-btn:hover {
              cursor: pointer;
              background-color: #0a491a;
            }
          }

          .loading {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .preview {
    .card {
      .contents {
        flex-direction: row;

        .left {
          flex-basis: 50%;
        }

        .right {
          flex-basis: 50%;

          .form {
          }
        }
      }
    }
  }
}
