.input-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.label{
    padding: 3px 0px;
    font-weight: 500;
}

.input{
    background-color: transparent;
    border: 1px solid #666;
    padding: 8px;
    border-radius: 5px;
}

.input:focus{
   border: 1px solid #ccc;
}

.error-msg{
    color: red;
}

@media (min-width:768px){
    .label{
        flex-basis: 30%;
        margin-top: 10px;
    }

    .input{
        margin-top: 10px;
        flex-basis: 70%;
    }
}