.footer {
  width: 100%;
  min-height: 80vh;
  background: #333;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.contact-header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header-title {
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
}

.addresses{
  flex-direction: column;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: white;
  padding: 10px;
  margin-right: 20px;
}

.icon:hover {
  color: orangered;
}

.copyright {
  color: white;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row-reverse;
    padding-bottom: 30px;
  }

  .contact-form {
    flex-basis: 50%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .addresses {
    flex-basis: 50%;
    display: flex;
    padding-left: 2%;
  }
}