.navbar{
    width: 100%;
    height: 70px;
    background-color: #333;
    box-shadow: 2px 2px 2px 2px #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.brand{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon{
    height: 20px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.menu-icon__line{
    width: 32px;
    height: 2px;
    background-color: white;
}

.brand img{
    display: block;
    width: auto;
    height: 80%;
    padding: 5px 10px;
    border-radius: 10px;
}

.brand span{
    display: none;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.menu{
    display: none;
}

.drawer{
    width: 70%;
    position: relative;
    background-color: white;
}

.sidenav{
    width: 70%;
    position: fixed;
    overflow-y: auto;
    top: 70px;
    left: 0;
    bottom: 0;
    color: white;
    animation: sidenavAnimation 1s;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

.background {
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: -5;
    animation: sidenavAnimation 1s;
    background-image: url("/images/bg2.jpg");
    background-size: cover;
    background-position: center;
  }

.cart{
    border: 1px solid #e71f51;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    font-size: 1.1rem;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #e71f51;
}

.dashboard{
    background-color: #2f78d8;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.dashboard:hover{
    background-color: white;
    color:  #2f78d8;
    cursor: pointer;
}

.bump{
    animation: cartAnimation 1s;
}

.backdrop{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 5;
    background-color: rgba(0,0,0,0.5);
}

@keyframes sidenavAnimation{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
}

@media (min-width : 768px){
    .navbar{
        height: 70px;
    }
    .menu-icon{
        display: none;
    }

    .menu{
        display: block;
        flex-grow: 1;
    }

    .menu-items{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: white;
        list-style: none;
    }

    .menu-items li{
        padding: 8px 20px;
    }
    
    .menu-items li:hover{
        color: orangered;
        cursor: pointer;
    }

    .brand{
        width: unset;
        justify-content: flex-start;
    }

    .brand img{
        display: block;
        width: auto;
        height: 100%;
        padding: 5px 20px;
        border-radius: 10px;
    }

    .brand span{
        display: block;
        font-size: 1.3rem;
    }

    .cart{
        padding-left: 30px;
        padding-right: 30px;
    }

    .dashboard:hover{
        background-color: white;
        color:  #2f78d8;
        cursor: pointer;
    }
}

@keyframes cartAnimation{
    0%{
        transform: rotate(30deg);
    }
    25%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/*.navbar{
    width: 100%;
    height: 70px;
    background-color: #333;
    box-shadow: 2px 2px 2px 2px #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.brand{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img{
    width: auto;
    height: 100%;
    padding: 5px 20px;
    border-radius: 10px;
}

.brand span{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    list-style: none;
}

.menu-items li{
    padding: 8px 20px;
}

.menu-items li:hover{
    color: wheat;
    cursor: pointer;
}*/