.card-container{
    width: 90%;
    z-index: 1000;
    padding-top: 90px;
}

.header-c{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    font-family: sans-serif;
    line-height: 1.2;
    padding: 10px;
}

.section-header{
    font-size: 1.1rem;
    font-weight: 600;
    color: #2a66c0;
    font-family: sans-serif;
}

.total{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-amount{
    font-weight: bold;
}

.mailbox{
    margin-top: 20px;
}

.message-box{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.form-message{
    width: 100%;
    color: #7c251d;
    font-weight: 600;
}

.actions{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-close{
    margin: 5px;
    background-color: #ce2121;
    color: white;
    padding: 5px 20px;
    font-size: 1.05rem;
    border-radius: 5px;
    border: 1px solid #ce2121;
    flex-basis: 50%;
}

.button-order{
    flex-basis: 50%;
    margin: 5px;
    background-color: #510a53;
    color: white;
    padding: 5px 20px;
    font-size: 1.05rem;
    border-radius: 5px;
    border: 1px solid #510a53;
}

.button-close:hover{
    cursor: pointer;
    background-color: #9e0808;
}

.button-order:hover{
    cursor: pointer;
    background-color: #38053a;
}

.backdrop{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 40;
}

.no-cart-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-item-message{
    text-align: center;
    padding: 10px;
    color: #c7323e;
    font-weight: 600;
}

.explore-btn{
    width: 90%;
    padding: 5px;
    background-color: #259b7d;
    border: 1px solid #259b7d;
    color: white;
    border-radius: 5px;
    margin: 10px;
}

.explore-btn:hover,
.explore-btn:active{
    color: #259b7d;
    background-color: white;
    cursor: pointer;
}

@media (min-width : 768px){
    .card-container{
        width: 50%;
    }

    .explore-btn{
        width: 50%;
    }

    .form-message{
        width: 70%;
        justify-content: flex-end;
    }

    .button-close{
        flex-basis: auto;
    }

    .button-order{
        flex-basis: auto;
    }
}