.card{
    width: 90%;
    margin: 20px auto;
    box-shadow: 2px 2px 2px 2px #333;
    border-radius: 10px;
    padding: 10px;
}
.book-info{
    width: 100%;
}

.header{
    text-align: center;
    margin: 0;
    padding: 0;
}

.form-controls{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form-control{
    padding: 10px;
    display: flex;
    width: 100%;
}

.form-control__label{
    flex-basis: 40%;
}

.form-control__input{
    flex-basis: 60%;
}

.form-add-subject{
    flex-basis: 60%;
    display: flex;
    justify-content: space-between;
}

.form-add-subject input{
    flex-basis: 79%;
}

.form-add-subject button{
    flex-basis: 20%;
    background-color: #028855;
    color: white;
    border: 1px solid #028855;
    border-radius: 5px;
}

.form-add-subject button:hover,
.form-add-subject button:active{
    background-color: white;
    color: #028855;
    border: 1px solid #028855;
    border-radius: 5px;
    cursor: pointer;
}

.subjects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.subject-item{
    width: 60%;
    border: 2px solid pink;
}

.subject-item__span{
    background-color: #1b8c94;
    color: white;
    font-size: 0.9rem;
    margin: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    text-align: center;
}

.form-actions{
    position: relative;
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

.add-book__button{
    width: 60%;
    background-color: #880255;
    color: white;
    border: 1px solid #880255;
    border-radius: 5px;
    padding: 5px;
}

.spinner{
    width: 60%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }